[submodule "scratch-vm"]
    path = scratch-vm
    url = https://github.com/rbel12b/scratch-vm.git

[submodule "scratch-gui"]
    path = scratch-gui
    url = https://github.com/rbel12b/scratch-gui.git

[submodule "scratch-samlabs"]
    path = scratch-samlabs
    url = https://github.com/rbel12b/scratch-samlabs.git
    
[submodule "Scratch"]
    path = Scratch
    url = https://github.com/rbel12b/Scratch.git

[submodule "scratch-huskylens"]
	path = scratch-huskylens
	url = https://github.com/rbel12b/scratch-huskylens.git
